:root {
  --background-color: #d4ecdd;
  --sub-heading-color: #112031;
  --text-color: #345b63;
  --text-history-color: #152d35;
}

body {
  background-color: var(--background-color);
  font-family: "Mulish", sans-serif;
  margin: 0 auto;
}

#header {
  margin: 0;
  text-align: center;
}

.countSection {
  height: 60px;
}

#drop-down-list,
#counter,
#history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--sub-heading-color);
  margin-bottom: 0.5rem;
}

#cards-drop-down {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

#button {
  margin-bottom: 0.5rem;
}

#count,
#card-history {
  font-size: 1.5rem;
  color: var(--text-color);
}

.cardHistorySection {
  color: var(--text-history-color);
}
